$colors: (
  "white": #ffffff,
  "black": #1C1C1E,
  "blue": #272727,
  "darkblue": #08172D,
  "green": #BCFF5E,
  "transparent": transparent,
  "gray-1": #C7C7CC,
  "gray-2": #636366,
  "gray-3": #AEAEB2,
);

// Default Font Size
$base-font-size: 16px;

// Responsive Breakpoint
$br-xxs: 375px;
$br-xx: 425px;
$br-xs: 480px;
$br-mm: 512px;
$br-sm: 576px;
$br-md: 768px;
$br-lg: 992px;
$br-xl: 1140px;
$br-xxl: 1200px;
